/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
martincleto.com Stylesheet
v0.1
Last Updated: 2011-04-22
Author: Santiago Martin-Cleto - http://martincleto.com
Twitter: @martincleto
*/

/*
@font-face {
    font-family: "Swis721ExBTRoman";
    font-style: normal;
    font-weight: normal;
    src: url("swisse.eot?#iefix") format("embedded-opentype"), url("swisse.woff") format("woff"), url("swisse.ttf") format("truetype"), url("swisse.svg#Swis721ExBTRoman") format("svg");
}
@font-face {
    font-family: "Swis721BlkExBTBlack";
    font-style: normal;
    font-weight: normal;
    src: url("swissek.eot?#iefix") format("embedded-opentype"), url("swissek.woff") format("woff"), url("swissek.ttf") format("truetype"), url("swissek.svg#Swis721BlkExBTBlack") format("svg");
}
*/

@font-face {
	font-family: "Swis721ExBTRoman";
	src: url("../fonts/swisse.eot");
	src: local('☺'), url("../fonts/swisse.woff") format("woff"), url("../fonts/swisse.ttf") format("truetype"), url("../fonts/swisse.svg#Swis721ExBTRoman") format("svg");
}
@font-face {
	font-family: "Swis721BlkExBTBlack";
	src: url("../fonts/swissek.eot");
	src: local('☺'), url("../fonts/swissek.woff") format("woff"), url("../fonts/swissek.ttf") format("truetype"), url("../fonts/swissek.svg#Swis721BlkExBTBlack") format("svg");
}

@media only all{
	@font-face {
		font-family: "Swis721ExBTRoman";
		src: url(//:) format('no404'), url("../fonts/swisse.woff") format('woff'), url("../fonts/swisse.ttf") format('truetype'), url("../fonts/swisse.svg#Swis721ExBTRoman") format('svg');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: "Swis721BlkExBTBlack";
		src: url(//:) format('no404'), url("../fonts/swissek.woff") format('woff'), url("../fonts/swissek.ttf") format('truetype'), url("../fonts/swissek.svg#Swis721ExBTRoman") format('svg');
		font-weight: normal;
		font-style: normal;
	}
}
/*
@font-face {
	font-family: 'YanoneTagesschriftRegular';
	src: url('yanone-webfont.eot');
	src: local('☺'), url('yanone-webfont.woff') format('woff'), url('yanone-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@media only all{
	@font-face {
		font-family: 'YanoneTagesschriftRegular';
		src: url(//:) format('no404'), url('yanone-webfont.woff') format('woff'), url('yanone-webfont.ttf') format('truetype'), url('yanone-webfont.svg#webfontXJHXQsXU') format('svg');
		font-weight: normal;
		font-style: normal;}
}
*/

body {
	font: medium Arial, sans-serif;
	text-transform: lowercase;
}

a:link, a:active, a:visited { color: #3670b1;}
a:hover, a:focus { color: #1a4a81; }

header {
	background: -moz-radial-gradient(20% -60%, circle, #5d99d0, #1a4a81) repeat scroll 0 0 transparent;
	background: -webkit-radial-gradient(20% -60%, closest-corner, #5d99d0, #1a4a81);
	background: -webkit-gradient(radial, 20% -60%, 0, 80% 40%, 100, from(#4678b0), to(#1a4a81));
	padding-top: 10px;
	margin-bottom: 30px;
}
.no-cssgradients header { background-color: #1a4a81; }

header .inner-wrap {
	position: relative;
	height: 210px;
}
header .inner-wrap,
#content,
footer {
	width: 960px;
	margin: 0 auto;
}

h1 {
	color: #93b1d2;
	font-weight: normal;
	font-size: 0.7em;
	text-transform: none;
}
h2 {
	position: absolute;
	left: 40px;
	bottom: -.28em;
	font: 3em "Swis721BlkExBTBlack", Arial, sans-serif;
	color: #fff;
}

#content-top {
	color: #6f7377;
	font: 1.4em "Swis721ExBTRoman", Arial, sans-serif;
	text-align: right;
	padding-right: 50px;
	margin-bottom: 45px;
}

nav {
	display: inline;
	margin-left: 1.5em;
}

#gallery {
	position: relative;
	height: 300px;
}
.gallery-handler {
	position: absolute;
	top: 0;
	width: 44px;
	height: 118px;
	background: url(../images/ui/sprite.png) no-repeat 0 0;
	/*cursor: pointer;*/
}
.gallery-handler-prev { left: 0; }
.gallery-handler-prev:hover { background-position:  0 -126px; }

.gallery-handler-next { right: 0; background-position: 0 -252px;}
.gallery-handler-next:hover { background-position:  0 -378px; }
.gallery-items {
	/*position: absolute;
	left: 56px;
	top: 0;*/
	position: relative;
	width: 844px;
	min-height: 172px;
	margin-left: 56px;
	overflow: hidden;
}
.gallery-items ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 2882px; /* to contain 10 items, (252px + 10px + 25px)*10 */
}
.gallery-items ul.forward,
.gallery-items ul.backward {
	-webkit-transition: all 8.0s linear;
	-moz-transition: all 8.0s linear;
	-o-transition: all 8.0s linear;
	-ms-transition: all 8.0s linear;	
	transition: all 8.0s linear;
}
.gallery-items ul.forward { left: -2036px !important; }
.gallery-items ul.backward { left: 0 !important; }
.gallery-items li {
	display: inline-block;
	width: 252px;
	background-color: #acafaf;
	padding: 5px;
	margin-left: 25px;	
}
.gallery-items li:first-child { margin-left: 0; }

footer { border: solid 1px green; }










