doctype 5
html
  head
    title= title
    meta(charset= 'utf-8')
    meta(name= 'author', content= 'Santiago Martín-Cleto')
    meta(name= 'keywords', content= 'frontend, front-end, developer, web designer, ux, ui, designer, usability, interaction')
    meta(name= 'description', content= 'My site')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    block content